<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tensorflow.lite.examples.detection">

    <uses-sdk />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/mount1"
        android:label="@string/tfe_od_app_name"
        android:roundIcon="@drawable/mount1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ObjectDetection">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCukags_vcK-TjfuhKxh_4PPN1DrAvB3T8" />
        <activity
            android:name=".MainAcitvity"
            android:exported="false"
            android:label="@string/tfe_od_app_name"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.post.UploadActivity"
            android:exported="false"/>
        <activity android:name=".ui.post.UpdateActivity"
            android:exported="false"
            />


        <activity
            android:name=".DetectorActivity"
            android:label="@string/tfe_od_app_name"
            android:supportsRtl="true" />
        <activity
            android:name=".ui.map.MapsFragment"
            android:label="@string/tfe_od_app_name"
            android:supportsRtl="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.home.MountainInfoActivity"
            android:label="@string/tfe_od_app_name"
            android:supportsRtl="true"
            tools:ignore="Instantiatable"
            />
        <activity android:name=".ui.splash.SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.sign.LoginActivity"
            android:exported="true" >
            <intent-filter>
                    <action  android:name="android.intent.action.MAIN"/>


                </intent-filter>
                <meta-data
                    android:name="android.intent.action.MAIN"
                    android:value=""
                    />

        </activity>
        <activity
            android:name=".ui.sign.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.OnBoarding"
            android:exported="false" >
        </activity>
        <activity android:name=".ui.post.DetailActivity"
            android:exported="false"/>


    </application>

</manifest>